<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ijoomer.topcarlondon.src"
    android:versionCode="0"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- GOOGLE MAP V2 PERMISSIONS START -->

    <permission
        android:name="com.ijoomer.topcarlondon.src.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ijoomer.topcarlondon.src.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- GOOGLE MAP V2 PERMISSIONS END -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="com.smart.framework.SmartApplication"
        android:allowTaskReparenting="true"
        android:icon="@drawable/ijoomer_luncher_icon"
        android:label="@string/app_name"
        android:theme="@style/ijoomer_theme" >
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarSplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarHomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarPickDropAddressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarNowActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarGetQuoteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarContactUsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarMyBookingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarMyBookingListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarPayPalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarAreaCoverdListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarAreaCoverdDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.topcarlondon.src.BookCarContactUsMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.common.classes.IjoomerMapAddress"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ijoomer.common.classes.IjoomerWebviewClient"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paypal.android.MEP.PayPalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- External Activity START -->

        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!-- External Activity END -->


        <!-- CoreIJoomerAdvance meta-data START -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_api_key" />

        <!-- CoreIJoomerAdvance meta-data END -->

    </application>

</manifest>